<%- include header %>
<form method="post">
  Username:  <input type="email" name="email"/><br />
  Password:    <input type="password" name="password"/><br />
  Confirm Password: <input type="password" name="password-repeat"/><br />
  First & Last Name: <input type="text" name="name"/><br />
  Birthday:    <input type="text" name="name"/><br />
           
  <input type="submit" value="Sign Up"/>
</form>
<%- include footer %>